# Importación de Librerias

In [1]:
import pandas as pd
import os

In [2]:
D_marcados =pd.read_excel('C:\\Users\\IVAN.LIPES\\Documents\\Marcados_legal\\Consolidos_marcados_legal.xlsx')

In [4]:
D_marcados

,Documento,Regionales,Agencia,Documento.1,Nombre Cliente,CREDITO,Fecha Marcado,Dias Mora,Estado Credito,Saldo Capital,...,USAID,ENTIDAD,CC,RANGO MORA,RANGO MONTO,MES,Demanda,Año,ESTADO DEL PROCESO,Concatenar
0,5565696,ANDINA SANTANDER,Girón Poblado,5.565696e+06,JORGE CARVAJAL CHACON,10691416713,2001-12-15,7116.0,Castigado,139323.0,...,NaN,NaN,NaN,NaN,NaN,Enero,NaN,2021,NaN,Enero-2021
1,13923015,ANDINA SANTANDER,Girón Poblado,1.392302e+07,PABLO ROBERTO CARDENAS BALLESTEROS,10691415056,2001-12-15,7179.0,Castigado,159062.0,...,NaN,NaN,NaN,NaN,NaN,Enero,NaN,2021,NaN,Enero-2021
2,27789793,ANDINA SANTANDER,Girón Poblado,2.778979e+07,CRUZ STELLA MEDINA DE FLOREZ,10691416385,2001-12-15,7108.0,Castigado,89312.0,...,NaN,NaN,NaN,NaN,NaN,Enero,NaN,2021,NaN,Enero-2021
3,29886611,ANDINA SANTANDER,Girón Poblado,2.988661e+07,DORIS SOLANO LOZANO,10691418319,2001-12-15,7138.0,Castigado,1050000.0,...,NaN,NaN,NaN,NaN,NaN,Enero,NaN,2021,NaN,Enero-2021
4,37821788,ANDINA SANTANDER,Girón Poblado,3.782179e+07,LILIA VERONICA GUERRERO DE SANCHEZ,10691416032,2001-12-15,7157.0,Castigado,163289.0,...,NaN,NaN,NaN,NaN,NaN,Enero,NaN,2021,NaN,Enero-2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585792,1110579122,NaN,0,1.110579e+09,LAURA NATALIA VERA VILLA,725221039764,2024-10-08,423.0,Castigado,1909280.0,...,NaN,ALAFECHA,NaN,<1 Año,> 10 MILLONES,Octubre,0,2024,NaN,Octubre-2024
585793,1116665537,NaN,0,1.116666e+09,GEIVER VIANEY RIOS GUTIERREZ,601231072031,2024-10-08,479.0,Castigado,2013431.0,...,NaN,ALAFECHA,NaN,<1 Año,> 10 MILLONES,Octubre,0,2024,NaN,Octubre-2024
585794,1117549129,NaN,0,1.117549e+09,JULIANA ANDREA CARRANZA GARZON,900231097845,2024-10-08,413.0,Castigado,1345204.0,...,NaN,ALAFECHA,NaN,<1 Año,> 10 MILLONES,Octubre,0,2024,NaN,Octubre-2024
585795,1121816440,NaN,0,1.121816e+09,YORLY PAOLA PASIVE,602231025518,2024-10-08,510.0,Castigado,1971362.0,...,NaN,ALAFECHA,NaN,<1 Año,> 10 MILLONES,Octubre,0,2024,NaN,Octubre-2024
585796,1152447221,NaN,0,1.152447e+09,JOHAN DAVID DUQUE PALACIO,628231017024,2024-10-08,518.0,Castigado,1590326.0,...,NaN,ALAFECHA,NaN,<1 Año,> 10 MILLONES,Octubre,0,2024,NaN,Octubre-2024

In [5]:
D_marcados.isna().sum()

Documento                          0
Regionales                     13466
Agencia                            0
Documento.1                   161309
Nombre Cliente                 41352
CREDITO                            0
Fecha Marcado                      0
Dias Mora                      13926
Estado Credito                     0
Saldo Capital                      0
Codigo Cliente                 27936
Producto                       27936
Dir Domicilio                  28028
Tel Residencia                355707
Tel Negocio                   211129
Celular                        43862
Ultimo Abono                   27936
Abogado                        27939
Saldo capital                      0
Saldo Intereses Corrientes     27936
Saldo Intereses Mora           27936
Saldo Hy C                     27936
Saldo IVA                      27936
Saldo Seguro                   27936
Registros Unicos               80472
Demandante                    179657
Adminfo                       273224
Tipo Abogado                       0
USAID                         585180
ENTIDAD                       273224
CC                            473074
RANGO MORA                    445138
RANGO MONTO                   445138
MES                                0
Demanda                       462405
Año                                0
ESTADO DEL PROCESO            252576
Concatenar                         0
dtype: int64

In [17]:

D_marcados.dtypes

Documento                              int64
Regionales                            object
Agencia                               object
Documento.1                          float64
Nombre Cliente                        object
CREDITO                               object
Fecha Marcado                 datetime64[ns]
Dias Mora                            float64
Estado Credito                        object
Saldo Capital                        float64
Codigo Cliente                       float64
Producto                              object
Dir Domicilio                         object
Tel Residencia                        object
Tel Negocio                           object
Celular                              float64
Ultimo Abono                  datetime64[ns]
Abogado                               object
Saldo capital                        float64
Saldo Intereses Corrientes           float64
Saldo Intereses Mora                 float64
Saldo Hy C                           float64
Saldo IVA                            float64
Saldo Seguro                         float64
Registros Unicos                      object
Demandante                            object
Adminfo                               object
Tipo Abogado                          object
USAID                                 object
ENTIDAD                               object
CC                                    object
RANGO MORA                            object
RANGO MONTO                           object
MES                                   object
Demanda                               object
Año                                    int64
ESTADO DEL PROCESO                    object
Concatenar                            object
dtype: object

In [18]:
Pagos_marcados = pd.read_excel('C:\\Users\\IVAN.LIPES\\Documents\\Marcados_legal\\PAGOS_MARCADOS.xlsx')

In [19]:
Pagos_marcados

,DOCUMENTO,Cod. Agencia,Agencia,CREDITO,Estado,Estado 2,Cod. Cliente,Nombre,Producto,Saldo Actual,...,TOTAL CANCELADO,ESTADO PROCESO,CRUCE VERIFICACION \nINT CORRIENTE,CRUCE VERIFICACION INT MORA,OBSERVACIONES,TIPO,AÑO,MES,ADMINFO,TIPO ABOGADO
0,85083209,411.0,MALAMBO PDS CENTRO,411171022783,Castigado,Castigado,4.111000e+08,DAMAR ALTAMAR RODRIGUEZ,Fundacredito Cria de Animales con H y C Diferida,7054735.0,...,300000.0,VIGENTE,True,FALSE,NaN,PAGO PARCIAL,2021,Enero,NaN,EXTERNO
1,13617956,601.0,YOPAL AGENCIA PARQUE LA HERRADURA,601181050468,vigente,Vigente,6.011342e+08,JAIRO ENRIQUE JIMENEZ QUIROGA,Fundacredito Avanzar,24113176.0,...,1300000.0,VIGENTE,False,FALSE,NaN,PAGO PARCIAL,2021,Enero,NaN,EXTERNO
2,51633211,618.0,FUSAGASUGA PDS CENTRO,618131002413,Castigado,Castigado,6.181027e+08,NOHORA ELSA LOPEZ RIVERA,Fundacredito Empresarial con H y C Diferida,493514.0,...,100000.0,VIGENTE,True,FALSE,NaN,PAGO PARCIAL,2021,Enero,NaN,EXTERNO
3,39207571,666.0,BARBOSA PDS CALLE DEL COMERCIO,666131000886,Castigado,Castigado,6.661001e+08,NOELIA ARIAS LOPEZ,Fundacredito Decorar con H y C Diferida,1099600.0,...,100000.0,VIGENTE,True,FALSE,NaN,PAGO PARCIAL,2021,Enero,NaN,NaN
4,13514969,220.0,SAN ALBERTO PDS CENTRO,220131000855,Cancelado,Castigado,2.201007e+08,JUAN PABLO MONTAGUTH ORTEGA,Fundacredito Agropecuario Capital de Trabajo,0.0,...,2410107.0,VIGENTE,False,FALSE,NaN,PAGO TOTAL,2021,Enero,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12868,1102549659,NaN,NaN,144141000727,Castigado,Castigado,NaN,LEIDY SANABRIA CARREÑO,NaN,NaN,...,2000000.0,NaN,NaN,NaN,NaN,PAGO TOTAL,2024,Octubre,lmarinj,EXTERNO
12869,1102725077,NaN,EXPERIENCIA LA DORADA CENTRO,719231018601,vigente,Vigente,7.194411e+10,ADRIANA CHAVARRO DIAZ,Agroactivos Fijos Productivo Rural,7367309.0,...,200000.0,NaN,NaN,NaN,NaN,PAGO PARCIAL,2024,Octubre,mramirez,INTERNO
12870,1110533409,NaN,IBAGUE CENTRO,725221037738,Cancelado,Vigente,7.251186e+08,LUIS ALFONSO RAMIREZ PRIETO,Empresarial,0.0,...,2350000.0,NaN,NaN,NaN,NaN,PAGO TOTAL,2024,Octubre,jojeda,INTERNO
12871,1123333839,NaN,NaN,832221011537,Castigado,Castigado,NaN,MARLIN NOREYI ORTIZ TOBAR,NaN,NaN,...,100000.0,NaN,NaN,NaN,NaN,PAGO PARCIAL,2024,Octubre,yvargas,INTERNO
12872,1127652982,NaN,CUCUTA AGENCIA ATALAYA,204231014041,vigente,Vigente,2.044421e+10,MARIBEL RAMIREZ CARDENAS,Empresarial Productivo Urbano,5499172.0,...,1350000.0,NaN,NaN,NaN,NaN,PAGO PARCIAL,2024,Octubre,oortega,INTERNO

In [20]:
Pagos_marcados.columns

Index(['DOCUMENTO', 'Cod. Agencia', 'Agencia', 'CREDITO', 'Estado', 'Estado 2',
       'Cod. Cliente', 'Nombre', 'Producto', 'Saldo Actual',
       'Dias mora Actual', 'Sucursal Pago', 'Asiento', 'Fecha Valor',
       'Fecha Pago', 'CAPITAL', 'INTERES', 'MORA', 'PAGOS OTROS',
       'COND CAPITAL', 'COND INTERES', 'COND MORA', 'GASTOS PROCESALES',
       'VALOR DE HONORARIO', 'ABOGADO', 'CAPITAL RECUPERADO',
       'VALORES AL CRÉDITO', 'TOTAL CANCELADO', 'ESTADO PROCESO',
       'CRUCE VERIFICACION \nINT CORRIENTE', 'CRUCE VERIFICACION INT MORA',
       'OBSERVACIONES', 'TIPO', 'AÑO', 'MES', 'ADMINFO', 'TIPO ABOGADO'],
      dtype='object')

In [21]:
import pandas as pd

# Suponiendo que ya tienes un DataFrame llamado 'Pagos_marcados'

# Asegurarse de que la columna 'Fecha Pago' esté en formato datetime
Pagos_marcados['Fecha Pago'] = pd.to_datetime(Pagos_marcados['Fecha Pago'], errors='coerce')

# Eliminar filas con Fecha Pagos inválidas (NaT)
Pagos_marcados = Pagos_marcados.dropna(subset=['Fecha Pago'])

# Extraer el mes y el año de la Fecha Pago para facilitar la agrupación
Pagos_marcados['Mes_Año'] = Pagos_marcados['Fecha Pago'].dt.to_period('M')

# Agrupar por 'CREDITO', 'DOCUMENTO' y 'Mes_Año' y sumar los pagos de 'TOTAL CANCELADO'
agrupado = Pagos_marcados.groupby(['CREDITO', 'DOCUMENTO', 'Mes_Año'])['TOTAL CANCELADO'].sum().reset_index()

# Crear una lista de todos los meses desde Enero 2021 hasta Diciembre 2024
meses = pd.date_range(start='2021-01-01', end='2024-12-01', freq='MS').strftime('%b-%Y')

# Crear un DataFrame vacío para el resultado final
# Crear las combinaciones de 'CREDITO' y 'DOCUMENTO'
combinaciones = agrupado[['CREDITO', 'DOCUMENTO']].drop_duplicates()

# Crear las columnas de 'CREDITO', 'DOCUMENTO' y los meses
new_df = pd.DataFrame(combinaciones)

# Inicializamos las columnas de los meses con 0
for mes in meses:
    new_df[mes] = 0

# Rellenar las columnas de meses con los pagos correspondientes
for index, row in agrupado.iterrows():
    documento = row['DOCUMENTO']
    mes_año = row['Mes_Año']
    total_cancelado = row['TOTAL CANCELADO']
    credito = row['CREDITO']

    # Convertir el mes_año a formato 'Mes-Año'
    nombre_mes = mes_año.strftime('%b-%Y')

    # Encontrar el índice del documento y crédito en el DataFrame final
    idx = new_df[(new_df['CREDITO'] == credito) & (new_df['DOCUMENTO'] == documento)].index[0]
    
    # Asignar el total_cancelado al mes correspondiente
    new_df.at[idx, nombre_mes] += total_cancelado

# Ver el nuevo DataFrame
print(new_df.head())

C:\Users\IVAN.LIPES\AppData\Local\Temp\ipykernel_21300\230979722.py:45: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '425930.7' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.at[idx, nombre_mes] += total_cancelado
C:\Users\IVAN.LIPES\AppData\Local\Temp\ipykernel_21300\230979722.py:45: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '82120.00000000001' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.at[idx, nombre_mes] += total_cancelado

        CREDITO  DOCUMENTO  Jan-2021  Feb-2021  Mar-2021  Apr-2021  May-2021  \
0   10591319340   60307191         0         0         0         0         0
1   10591323278   63347847         0         0         0         0         0
2   10691420921   63352499         0    417473         0         0         0
3  101104100170   63515586         0         0         0         0         0
4  101104103125   37809232         0         0         0         0         0

   Jun-2021  Jul-2021  Aug-2021  ...  Mar-2024  Apr-2024  May-2024  Jun-2024  \
0         0         0         0  ...         0         0         0         0
1         0         0         0  ...         0         0         0         0
2         0         0         0  ...         0         0         0         0
3         0         0         0  ...         0         0         0         0
4         0         0         0  ...         0         0         0         0

   Jul-2024  Aug-2024  Sep-2024  Oct-2024  Nov-2024  Dec-2024
0         0         0       0.0       0.0         0         0
1         0         0       0.0       0.0         0         0
2         0         0       0.0       0.0         0         0
3         0   1049228       0.0       0.0         0         0
4         0   1116656       0.0       0.0         0         0

[5 rows x 50 columns]

In [22]:
Pagos_marcados.Mes_Año.unique()

<PeriodArray>
['2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06', '2021-07',
 '2021-08', '2021-09', '2021-10', '2021-11', '2021-12', '2022-01', '2022-02',
 '2022-03', '2022-04', '2022-05', '2022-06', '2022-07', '2022-08', '2022-09',
 '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03', '2023-04',
 '2023-05', '2023-06', '2023-07', '2023-08', '2023-09', '2023-10', '2023-11',
 '2023-12', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06',
 '2024-07', '2024-08', '2024-09', '2024-10']
Length: 46, dtype: period[M]

In [23]:
new_df

,CREDITO,DOCUMENTO,Jan-2021,Feb-2021,Mar-2021,Apr-2021,May-2021,Jun-2021,Jul-2021,Aug-2021,...,Mar-2024,Apr-2024,May-2024,Jun-2024,Jul-2024,Aug-2024,Sep-2024,Oct-2024,Nov-2024,Dec-2024
0,10591319340,60307191,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0,0
1,10591323278,63347847,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0,0
2,10691420921,63352499,0,417473,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0,0
3,101104100170,63515586,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1049228,0.0,0.0,0,0
4,101104103125,37809232,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1116656,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11313,801191010985H,6114237,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,6650.0,0,0
11314,810191013494H,4762236,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,573600.0,0,0
11315,814191020882H,30716928,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,342000.0,0,0
11316,900191042765H,23741615,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,1246500.0,0,0
11317,903191008858H,52978560,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,19260.0,0,0

In [41]:
# Asegurarse de que 'Fecha Marcado' sea de tipo datetime
D_marcados['Fecha Marcado'] = pd.to_datetime(D_marcados['Fecha Marcado'], errors='coerce')

# Filtrar las filas donde 'Fecha Marcado' es mayor o igual a '2021-01-01'
D_marcados_interesados = D_marcados[D_marcados['Fecha Marcado'] >= '2021-01-01']

# Filtrar solo las filas donde 'Tipo Abogado' es 'INTERNO'
D_marcados_interesados = D_marcados_interesados[D_marcados_interesados['Tipo Abogado'] == 'INTERNO']

# Seleccionar solo las columnas de interés
D_marcados_interesados = D_marcados_interesados[['CREDITO', 'Fecha Marcado', 'Saldo Capital', 'Tipo Abogado','Documento']]

# Eliminar los duplicados basándonos en 'CREDITO', manteniendo solo la primera aparición
D_marcados_sin_duplicados = D_marcados_interesados.drop_duplicates(subset='CREDITO', keep='first')

# Ver el resultado
print(D_marcados_sin_duplicados.head())

           CREDITO Fecha Marcado  Saldo Capital Tipo Abogado  Documento
7923  109161030294    2021-01-14     16843299.0      INTERNO   28215525
7924  504171069644    2021-01-14       500000.0      INTERNO   34958417
7925  504161065368    2021-01-14      4712977.0      INTERNO   34958417
7926  504171070758    2021-01-14      5999941.0      INTERNO   34958417
7927  301162089408    2021-01-14      1370485.0      INTERNO   37542408

In [42]:
D_marcados_sin_duplicados

             CREDITO Fecha Marcado  Saldo Capital Tipo Abogado   Documento
7923    109161030294    2021-01-14     16843299.0      INTERNO    28215525
7924    504171069644    2021-01-14       500000.0      INTERNO    34958417
7925    504161065368    2021-01-14      4712977.0      INTERNO    34958417
7926    504171070758    2021-01-14      5999941.0      INTERNO    34958417
7927    301162089408    2021-01-14      1370485.0      INTERNO    37542408
...              ...           ...            ...          ...         ...
585792  725221039764    2024-10-08      1909280.0      INTERNO  1110579122
585793  601231072031    2024-10-08      2013431.0      INTERNO  1116665537
585794  900231097845    2024-10-08      1345204.0      INTERNO  1117549129
585795  602231025518    2024-10-08      1971362.0      INTERNO  1121816440
585796  628231017024    2024-10-08      1590326.0      INTERNO  1152447221

[9895 rows x 5 columns]

In [43]:
D_marcados_sin_duplicados=pd.merge(D_marcados_sin_duplicados, new_df, on='CREDITO', how='left')

In [44]:
D_marcados_sin_duplicados.isna().sum()

CREDITO             0
Fecha Marcado       0
Saldo Capital       0
Tipo Abogado        0
Documento           0
DOCUMENTO        6152
Jan-2021         6152
Feb-2021         6152
Mar-2021         6152
Apr-2021         6152
May-2021         6152
Jun-2021         6152
Jul-2021         6152
Aug-2021         6152
Sep-2021         6152
Oct-2021         6152
Nov-2021         6152
Dec-2021         6152
Jan-2022         6152
Feb-2022         6152
Mar-2022         6152
Apr-2022         6152
May-2022         6152
Jun-2022         6152
Jul-2022         6152
Aug-2022         6152
Sep-2022         6152
Oct-2022         6152
Nov-2022         6152
Dec-2022         6152
Jan-2023         6152
Feb-2023         6152
Mar-2023         6152
Apr-2023         6152
May-2023         6152
Jun-2023         6152
Jul-2023         6152
Aug-2023         6152
Sep-2023         6152
Oct-2023         6152
Nov-2023         6152
Dec-2023         6152
Jan-2024         6152
Feb-2024         6152
Mar-2024         6152
Apr-2024         6152
May-2024         6152
Jun-2024         6152
Jul-2024         6152
Aug-2024         6152
Sep-2024         6152
Oct-2024         6152
Nov-2024         6152
Dec-2024         6152
dtype: int64

In [45]:
# Eliminar la columna 'DOCUMENTO' del DataFrame
D_marcados_sin_duplicados = D_marcados_sin_duplicados.drop(columns=['DOCUMENTO'])

# Verificar que la columna fue eliminada
print(D_marcados_sin_duplicados.head())

        CREDITO Fecha Marcado  Saldo Capital Tipo Abogado  Documento  \
0  109161030294    2021-01-14     16843299.0      INTERNO   28215525
1  504171069644    2021-01-14       500000.0      INTERNO   34958417
2  504161065368    2021-01-14      4712977.0      INTERNO   34958417
3  504171070758    2021-01-14      5999941.0      INTERNO   34958417
4  301162089408    2021-01-14      1370485.0      INTERNO   37542408

   Jan-2021  Feb-2021  Mar-2021  Apr-2021  May-2021  ...  Mar-2024  Apr-2024  \
0       NaN       NaN       NaN       NaN       NaN  ...       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN  ...       NaN       NaN
2       NaN       NaN       NaN       NaN       NaN  ...       NaN       NaN
3       NaN       NaN       NaN       NaN       NaN  ...       NaN       NaN
4       NaN       NaN       NaN       NaN       NaN  ...       NaN       NaN

   May-2024  Jun-2024  Jul-2024  Aug-2024  Sep-2024  Oct-2024  Nov-2024  \
0       NaN       NaN       NaN       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3       NaN       NaN       NaN       NaN       NaN       NaN       NaN
4       NaN       NaN       NaN       NaN       NaN       NaN       NaN

   Dec-2024
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

[5 rows x 53 columns]

In [46]:
D_marcados_sin_duplicados.isna().sum()

CREDITO             0
Fecha Marcado       0
Saldo Capital       0
Tipo Abogado        0
Documento           0
Jan-2021         6152
Feb-2021         6152
Mar-2021         6152
Apr-2021         6152
May-2021         6152
Jun-2021         6152
Jul-2021         6152
Aug-2021         6152
Sep-2021         6152
Oct-2021         6152
Nov-2021         6152
Dec-2021         6152
Jan-2022         6152
Feb-2022         6152
Mar-2022         6152
Apr-2022         6152
May-2022         6152
Jun-2022         6152
Jul-2022         6152
Aug-2022         6152
Sep-2022         6152
Oct-2022         6152
Nov-2022         6152
Dec-2022         6152
Jan-2023         6152
Feb-2023         6152
Mar-2023         6152
Apr-2023         6152
May-2023         6152
Jun-2023         6152
Jul-2023         6152
Aug-2023         6152
Sep-2023         6152
Oct-2023         6152
Nov-2023         6152
Dec-2023         6152
Jan-2024         6152
Feb-2024         6152
Mar-2024         6152
Apr-2024         6152
May-2024         6152
Jun-2024         6152
Jul-2024         6152
Aug-2024         6152
Sep-2024         6152
Oct-2024         6152
Nov-2024         6152
Dec-2024         6152
dtype: int64

In [48]:
D_marcados_sin_duplicados.to_excel('C:\\Users\\IVAN.LIPES\\Documents\Modelo_dc\\Base_internos.xlsx')

In [37]:
# Obtener los valores únicos de la columna 'Fecha Marcado' de new_df
valores_unicos = new_df['Fecha Marcado'].unique()

# Ver los valores únicos
print(valores_unicos)

<DatetimeArray>
['2002-06-28 00:00:00', '2002-12-07 00:00:00', '2011-08-23 00:00:00',
 '2011-04-01 00:00:00', '2022-04-27 00:00:00', '2017-09-27 00:00:00',
 '2016-08-24 00:00:00', '2021-05-31 00:00:00', '2018-10-10 00:00:00',
 '2021-01-15 00:00:00',
 ...
 '2022-12-12 00:00:00', '2023-04-14 00:00:00', '2023-02-02 00:00:00',
 '2023-08-11 00:00:00', '2017-09-21 00:00:00', '2023-08-01 00:00:00',
 '2020-02-17 00:00:00', '2020-02-27 00:00:00', '2023-04-17 00:00:00',
 '2022-10-14 00:00:00']
Length: 1074, dtype: datetime64[ns]

In [57]:
# Obtener los valores únicos de la columna 'Fecha Marcado' de new_df
valores_unicos_2 = new_df['Año'].unique()

# Ver los valores únicos
print(valores_unicos_2)

['2011' '2021' '2022' '2024' '2023' '2018' '2016' '2008' '2017' nan '2015'
 '2019' '2013' '2014' '2012' '2010' '2009']

In [41]:
print(new_df.columns)

Index(['CREDITO', 'DOCUMENTO', 'Jan-2021', 'Feb-2021', 'Mar-2021', 'Apr-2021',
       'May-2021', 'Jun-2021', 'Jul-2021', 'Aug-2021', 'Sep-2021', 'Oct-2021',
       'Nov-2021', 'Dec-2021', 'Jan-2022', 'Feb-2022', 'Mar-2022', 'Apr-2022',
       'May-2022', 'Jun-2022', 'Jul-2022', 'Aug-2022', 'Sep-2022', 'Oct-2022',
       'Nov-2022', 'Dec-2022', 'Jan-2023', 'Feb-2023', 'Mar-2023', 'Apr-2023',
       'May-2023', 'Jun-2023', 'Jul-2023', 'Aug-2023', 'Sep-2023', 'Oct-2023',
       'Nov-2023', 'Dec-2023', 'Jan-2024', 'Feb-2024', 'Mar-2024', 'Apr-2024',
       'May-2024', 'Jun-2024', 'Jul-2024', 'Aug-2024', 'Sep-2024', 'Oct-2024',
       'Nov-2024', 'Dec-2024', 'Fecha Marcado_x', 'Fecha Marcado_y',
       'Saldo capital'],
      dtype='object')

In [60]:
new_df.to_excel('C:\\Users\\IVAN.LIPES\\Documents\Modelo_dc\\Base_Consolidados.xlsx')

In [20]:
D_marcados

,Documento,Regionales,Agencia,Documento.1,Nombre Cliente,CREDITO,Fecha Marcado,Dias Mora,Estado Credito,Saldo Capital,...,Tipo Abogado,USAID,ENTIDAD,CC,RANGO MORA,RANGO MONTO,MES,Demanda,Año,ESTADO DEL PROCESO
0,5565696,ANDINA SANTANDER,Girón Poblado,5565696,JORGE CARVAJAL CHACON,10691416713,2001-12-15,7116.0,Castigado,139323.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Enero,NaN,2021,NaN
1,13923015,ANDINA SANTANDER,Girón Poblado,13923015,PABLO ROBERTO CARDENAS BALLESTEROS,10691415056,2001-12-15,7179.0,Castigado,159062.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Enero,NaN,2021,NaN
2,27789793,ANDINA SANTANDER,Girón Poblado,27789793,CRUZ STELLA MEDINA DE FLOREZ,10691416385,2001-12-15,7108.0,Castigado,89312.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Enero,NaN,2021,NaN
3,29886611,ANDINA SANTANDER,Girón Poblado,29886611,DORIS SOLANO LOZANO,10691418319,2001-12-15,7138.0,Castigado,1050000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Enero,NaN,2021,NaN
4,37821788,ANDINA SANTANDER,Girón Poblado,37821788,LILIA VERONICA GUERRERO DE SANCHEZ,10691416032,2001-12-15,7157.0,Castigado,163289.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Enero,NaN,2021,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585792,1110579122,NaN,0,2024-10-08 00:00:00,LAURA NATALIA VERA VILLA,725221039764,2024-10-08,423.0,Castigado,1909280.0,...,INTERNO,NaN,ALAFECHA,NaN,<1 Año,> 10 MILLONES,Octubre,0,2024,NaN
585793,1116665537,NaN,0,2024-10-08 00:00:00,GEIVER VIANEY RIOS GUTIERREZ,601231072031,2024-10-08,479.0,Castigado,2013431.0,...,INTERNO,NaN,ALAFECHA,NaN,<1 Año,> 10 MILLONES,Octubre,0,2024,NaN
585794,1117549129,NaN,0,2024-10-08 00:00:00,JULIANA ANDREA CARRANZA GARZON,900231097845,2024-10-08,413.0,Castigado,1345204.0,...,INTERNO,NaN,ALAFECHA,NaN,<1 Año,> 10 MILLONES,Octubre,0,2024,NaN
585795,1121816440,NaN,0,2024-10-08 00:00:00,YORLY PAOLA PASIVE,602231025518,2024-10-08,510.0,Castigado,1971362.0,...,INTERNO,NaN,ALAFECHA,NaN,<1 Año,> 10 MILLONES,Octubre,0,2024,NaN
585796,1152447221,NaN,0,2024-10-08 00:00:00,JOHAN DAVID DUQUE PALACIO,628231017024,2024-10-08,518.0,Castigado,1590326.0,...,INTERNO,NaN,ALAFECHA,NaN,<1 Año,> 10 MILLONES,Octubre,0,2024,NaN

In [60]:
import pandas as pd

# Supongamos que D_marcados es el dataframe original

# Usamos drop_duplicates para seleccionar el primer registro para cada combinación única
D_marcados_nuevo = D_marcados[['Documento', 'CREDITO', 'Fecha Marcado','Saldo Capital']].drop_duplicates(subset='CREDITO', keep='first')

In [61]:
D_marcados_nuevo

         Documento       CREDITO Fecha Marcado  Saldo Capital
0          5565696   10691416713    2001-12-15       139323.0
1         13923015   10691415056    2001-12-15       159062.0
2         27789793   10691416385    2001-12-15        89312.0
3         29886611   10691418319    2001-12-15      1050000.0
4         37821788   10691416032    2001-12-15       163289.0
...            ...           ...           ...            ...
585792  1110579122  725221039764    2024-10-08      1909280.0
585793  1116665537  601231072031    2024-10-08      2013431.0
585794  1117549129  900231097845    2024-10-08      1345204.0
585795  1121816440  602231025518    2024-10-08      1971362.0
585796  1152447221  628231017024    2024-10-08      1590326.0

[18358 rows x 4 columns]

In [70]:
# Realizar el Left Join entre new_df y D_marcados_sin_duplicados para obtener solo la primera coincidencia
D_marcados_nuevo= pd.merge(D_marcados_sin_duplicados, new_df, on='CREDITO', how='left')

# Ver el resultado
print(D_marcados_nuevo.head())

       CREDITO Fecha Marcado  Saldo Capital  DOCUMENTO  Jan-2021  Feb-2021  \
0  10691416713    2001-12-15       139323.0        NaN       NaN       NaN
1  10691415056    2001-12-15       159062.0        NaN       NaN       NaN
2  10691416385    2001-12-15        89312.0        NaN       NaN       NaN
3  10691418319    2001-12-15      1050000.0        NaN       NaN       NaN
4  10691416032    2001-12-15       163289.0        NaN       NaN       NaN

   Mar-2021  Apr-2021  May-2021  Jun-2021  ...  Mar-2024  Apr-2024  May-2024  \
0       NaN       NaN       NaN       NaN  ...       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN  ...       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN  ...       NaN       NaN       NaN
3       NaN       NaN       NaN       NaN  ...       NaN       NaN       NaN
4       NaN       NaN       NaN       NaN  ...       NaN       NaN       NaN

   Jun-2024  Jul-2024  Aug-2024  Sep-2024  Oct-2024  Nov-2024  Dec-2024
0       NaN       NaN       NaN       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3       NaN       NaN       NaN       NaN       NaN       NaN       NaN
4       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[5 rows x 52 columns]

In [64]:
D_marcados_nuevo.isna().sum()

CREDITO              0
Fecha Marcado        1
Saldo Capital        0
DOCUMENTO        13429
Jan-2021         13429
Feb-2021         13429
Mar-2021         13429
Apr-2021         13429
May-2021         13429
Jun-2021         13429
Jul-2021         13429
Aug-2021         13429
Sep-2021         13429
Oct-2021         13429
Nov-2021         13429
Dec-2021         13429
Jan-2022         13429
Feb-2022         13429
Mar-2022         13429
Apr-2022         13429
May-2022         13429
Jun-2022         13429
Jul-2022         13429
Aug-2022         13429
Sep-2022         13429
Oct-2022         13429
Nov-2022         13429
Dec-2022         13429
Jan-2023         13429
Feb-2023         13429
Mar-2023         13429
Apr-2023         13429
May-2023         13429
Jun-2023         13429
Jul-2023         13429
Aug-2023         13429
Sep-2023         13429
Oct-2023         13429
Nov-2023         13429
Dec-2023         13429
Jan-2024         13429
Feb-2024         13429
Mar-2024         13429
Apr-2024         13429
May-2024         13429
Jun-2024         13429
Jul-2024         13429
Aug-2024         13429
Sep-2024         13429
Oct-2024         13429
Nov-2024         13429
Dec-2024         13429
dtype: int64

In [71]:
# Asegurarse de que 'Fecha Marcado' esté en formato datetime
D_marcados_nuevo['Fecha Marcado'] = pd.to_datetime(D_marcados_nuevo['Fecha Marcado'], errors='coerce')

# Filtrar los valores mayores o iguales a '2021-01-01'
D_marcados_nuevo = D_marcados_nuevo[D_marcados_nuevo['Fecha Marcado'] >= '2021-01-01']

In [72]:
D_marcados_nuevo

,CREDITO,Fecha Marcado,Saldo Capital,DOCUMENTO,Jan-2021,Feb-2021,Mar-2021,Apr-2021,May-2021,Jun-2021,...,Mar-2024,Apr-2024,May-2024,Jun-2024,Jul-2024,Aug-2024,Sep-2024,Oct-2024,Nov-2024,Dec-2024
7923,109161030294,2021-01-14,16843299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7924,504171069644,2021-01-14,500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7925,504161065368,2021-01-14,4712977.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7926,504171070758,2021-01-14,5999941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7927,301162089408,2021-01-14,1370485.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18353,725221039764,2024-10-08,1909280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18354,601231072031,2024-10-08,2013431.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18355,900231097845,2024-10-08,1345204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18356,602231025518,2024-10-08,1971362.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18357,628231017024,2024-10-08,1590326.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
D_marcados_nuevo.isna().sum()

CREDITO             0
Fecha Marcado       0
Saldo Capital       0
DOCUMENTO        6457
Jan-2021         6457
Feb-2021         6457
Mar-2021         6457
Apr-2021         6457
May-2021         6457
Jun-2021         6457
Jul-2021         6457
Aug-2021         6457
Sep-2021         6457
Oct-2021         6457
Nov-2021         6457
Dec-2021         6457
Jan-2022         6457
Feb-2022         6457
Mar-2022         6457
Apr-2022         6457
May-2022         6457
Jun-2022         6457
Jul-2022         6457
Aug-2022         6457
Sep-2022         6457
Oct-2022         6457
Nov-2022         6457
Dec-2022         6457
Jan-2023         6457
Feb-2023         6457
Mar-2023         6457
Apr-2023         6457
May-2023         6457
Jun-2023         6457
Jul-2023         6457
Aug-2023         6457
Sep-2023         6457
Oct-2023         6457
Nov-2023         6457
Dec-2023         6457
Jan-2024         6457
Feb-2024         6457
Mar-2024         6457
Apr-2024         6457
May-2024         6457
Jun-2024         6457
Jul-2024         6457
Aug-2024         6457
Sep-2024         6457
Oct-2024         6457
Nov-2024         6457
Dec-2024         6457
dtype: int64

In [74]:
D_marcados_nuevo.to_excel('C:\\Users\\IVAN.LIPES\\Documents\\Modelo_dc\\D_marcados_nuevo.xlsx')

In [78]:
import pandas as pd

# Asegurarse de que la columna 'Fecha Marcado' esté en formato datetime
D_marcados_nuevo['Fecha Marcado'] = pd.to_datetime(D_marcados_nuevo['Fecha Marcado'], errors='coerce')

# Crear una lista de los meses desde Ene-2021 hasta Dic-2024
meses = pd.date_range(start='2021-01-01', end='2024-12-01', freq='MS').strftime('%b-%Y')

# Agregar una columna 'Mes_Año' al DataFrame con el formato de mes-año
D_marcados_nuevo['Mes_Año'] = D_marcados_nuevo['Fecha Marcado'].dt.to_period('M')

# Agrupar por 'Mes_Año' y calcular la suma de los pagos y saldo de capital
agrupado = D_marcados_nuevo.groupby('Mes_Año')[meses].sum()  # Sumar los pagos por mes
saldo_capital_agrupado = D_marcados_nuevo.groupby('Mes_Año')['Saldo Capital'].sum()  # Sumar el saldo capital por mes

# Crear un DataFrame vacío con las filas y columnas correspondientes a los meses
new_df = pd.DataFrame(index=meses, columns=meses)

# Iterar sobre cada mes para llenar el DataFrame 'new_df'
for i, mes in enumerate(meses):
    # Para cada fila (mes), calculamos los valores acumulados hasta ese mes
    pagos_acumulados = 0
    saldo_capital_acumulado = 0
    
    for j, mes2 in enumerate(meses):
        # Si el mes 'mes' es anterior o igual a 'mes2', calculamos el porcentaje acumulado
        if pd.to_datetime(mes) <= pd.to_datetime(mes2):
            # Acumulamos los pagos hasta el mes 'mes2'
            pagos_acumulados += agrupado.loc[:pd.to_datetime(mes2).to_period('M')].iloc[:, i].sum()
            saldo_capital_acumulado = saldo_capital_agrupado.loc[:pd.to_datetime(mes2).to_period('M')].sum()

            # Calculamos el porcentaje acumulado
            if saldo_capital_acumulado > 0:
                new_df.loc[mes, mes2] = pagos_acumulados / saldo_capital_acumulado
            else:
                new_df.loc[mes, mes2] = 0  # Si el saldo capital es 0, asignar 0 a la celda

# Ver el DataFrame final
print(new_df)

         Jan-2021  Feb-2021  Mar-2021  Apr-2021  May-2021  Jun-2021  Jul-2021  \
Jan-2021      0.0       0.0       0.0       0.0       0.0       0.0       0.0
Feb-2021      NaN  0.016448   0.01501  0.013726  0.013323  0.012441   0.01252
Mar-2021      NaN       NaN  0.002262  0.002757  0.003011  0.002999  0.003144
Apr-2021      NaN       NaN       NaN  0.004879  0.007104   0.00796  0.008901
May-2021      NaN       NaN       NaN       NaN   0.00636  0.009502  0.011953
Jun-2021      NaN       NaN       NaN       NaN       NaN  0.004746  0.007961
Jul-2021      NaN       NaN       NaN       NaN       NaN       NaN  0.004228
Aug-2021      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Sep-2021      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Oct-2021      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Nov-2021      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Dec-2021      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Jan-2022      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Feb-2022      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Mar-2022      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Apr-2022      NaN       NaN       NaN       NaN       NaN       NaN       NaN
May-2022      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Jun-2022      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Jul-2022      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Aug-2022      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Sep-2022      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Oct-2022      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Nov-2022      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Dec-2022      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Jan-2023      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Feb-2023      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Mar-2023      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Apr-2023      NaN       NaN       NaN       NaN       NaN       NaN       NaN
May-2023      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Jun-2023      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Jul-2023      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Aug-2023      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Sep-2023      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Oct-2023      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Nov-2023      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Dec-2023      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Jan-2024      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Feb-2024      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Mar-2024      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Apr-2024      NaN       NaN       NaN       NaN       NaN       NaN       NaN
May-2024      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Jun-2024      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Jul-2024      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Aug-2024      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Sep-2024      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Oct-2024      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Nov-2024      NaN       NaN       NaN       NaN       NaN       NaN       NaN
Dec-2024      NaN       NaN       NaN       NaN       NaN       NaN       NaN

          Aug-2021  Sep-2021  Oct-2021  ...  Mar-2024  Apr-2024  May-2024  \
Jan-2021       0.0       0.0       0.0  ...       0.0       0.0       0.0
Feb-2021  0.014117  0.015592  0.016617  ...  0.018584  0.018634  0.018569
Mar-2021  0.003646  0.004111  0.004451  ...  0.005453  0.005471  0.005456
Apr-2021  0.010753   0.01247  0.013782  ...  0.018775  0.018852  0.018811
May-2021  0.015403  0.018607  0.021153  ...  0.032684  0.032844  0.032797
Jun-2021   0.01154   0.01487  0.017609  ...  0.031717  0.031898  0.031877
Jul-2021  0.008171  0.011845  0.014962  ...  0.032696  0.032911  0.032917
Aug-2021  0.010579  0.020448  0.029056  ...  0.082095  0.082711  0.082797
Sep-2021       NaN  0.012385  0.023465  ...  0.096339  0.097158  0.097347
Oct-2021       NaN       NaN  0.009334  ...  0.074172   0.07488    0.0751
Nov-2021       NaN       NaN       NaN  ...  0.068932  0.069668  0.069945
Dec-2021       NaN       NaN       NaN  ...    0.0849  0.085908  0.086345
Jan-2022       NaN       NaN       NaN  ...  0.046605  0.047218  0.047515
Feb-2022       NaN       NaN       NaN  ...  0.128516  0.130387  0.131375
Mar-2022       NaN       NaN       NaN  ...  0.250572  0.254596  0.256877
Apr-2022       NaN       NaN       NaN  ...  0.224107  0.228071  0.230455
May-2022       NaN       NaN       NaN  ...  0.223495  0.227844  0.230594
Jun-2022       NaN       NaN       NaN  ...  0.296834  0.303183  0.307377
Jul-2022       NaN       NaN       NaN  ...  0.186365  0.190745   0.19375
Aug-2022       NaN       NaN       NaN  ...  0.224812  0.230619  0.234737
Sep-2022       NaN       NaN       NaN  ...  0.243959  0.250887  0.255948
Oct-2022       NaN       NaN       NaN  ...  0.278136  0.286829  0.293348
Nov-2022       NaN       NaN       NaN  ...  0.204705  0.211757  0.217171
Dec-2022       NaN       NaN       NaN  ...  0.210665  0.218679  0.224965
Jan-2023       NaN       NaN       NaN  ...  0.144568  0.150656  0.155524
Feb-2023       NaN       NaN       NaN  ...  0.155435  0.162704  0.168621
Mar-2023       NaN       NaN       NaN  ...    0.1701  0.178967  0.186303
Apr-2023       NaN       NaN       NaN  ...  0.104367  0.110461  0.115579
May-2023       NaN       NaN       NaN  ...  0.204257  0.217696  0.229137
Jun-2023       NaN       NaN       NaN  ...  0.140218   0.15069  0.159718
Jul-2023       NaN       NaN       NaN  ...  0.118683  0.128834  0.137692
Aug-2023       NaN       NaN       NaN  ...  0.120477  0.132416  0.142949
Sep-2023       NaN       NaN       NaN  ...  0.098219  0.109666   0.11987
Oct-2023       NaN       NaN       NaN  ...  0.005264     0.006  0.006663
Nov-2023       NaN       NaN       NaN  ...  0.077833  0.091249  0.103433
Dec-2023       NaN       NaN       NaN  ...   0.03815   0.04659  0.054319
Jan-2024       NaN       NaN       NaN  ...  0.031604  0.041169  0.049999
Feb-2024       NaN       NaN       NaN  ...  0.039212  0.057463  0.074441
Mar-2024       NaN       NaN       NaN  ...  0.020201  0.039472  0.057526
Apr-2024       NaN       NaN       NaN  ...       NaN  0.020378  0.039599
May-2024       NaN       NaN       NaN  ...       NaN       NaN  0.016754
Jun-2024       NaN       NaN       NaN  ...       NaN       NaN       NaN
Jul-2024       NaN       NaN       NaN  ...       NaN       NaN       NaN
Aug-2024       NaN       NaN       NaN  ...       NaN       NaN       NaN
Sep-2024       NaN       NaN       NaN  ...       NaN       NaN       NaN
Oct-2024       NaN       NaN       NaN  ...       NaN       NaN       NaN
Nov-2024       NaN       NaN       NaN  ...       NaN       NaN       NaN
Dec-2024       NaN       NaN       NaN  ...       NaN       NaN       NaN

          Jun-2024  Jul-2024  Aug-2024  Sep-2024  Oct-2024  Nov-2024  Dec-2024
Jan-2021       0.0       0.0       0.0       0.0       0.0       0.0       0.0
Feb-2021   0.01873   0.01907  0.019135  0.019218  0.019408  0.019839   0.02027
Mar-2021  0.005506   0.00561  0.005632   0.00566  0.005718  0.005848  0.005978
Apr-2021  0.018999  0.019367  0.019456  0.019562  0.019776  0.020236  0.020696
May-2021  0.033147  0.033812  0.033988  0.034194  0.034587  0.035411  0.036234
Jun-2021  0.032241   0.03291  0.033103  0.033325  0.033728  0.034551  0.035374
Jul-2021  0.033318  0.034035  0.034258   0.03451   0.03495  0.035824  0.036697
Aug-2021  0.083874  0.085745  0.086371  0.087067  0.088234  0.090496  0.092759
Sep-2021  0.098699  0.100984  0.101799  0.102695  0.104143  0.106884  0.109624
Oct-2021  0.076213  0.078044  0.078739  0.079493  0.080673  0.082853  0.085034
Nov-2021  0.071051  0.072825  0.073537  0.074302  0.075463  0.077559  0.079655
Dec-2021  0.087802  0.090083  0.091046  0.092073  0.093588  0.096262  0.098936
Jan-2022   0.04837  0.049679  0.050259  0.050872  0.051755  0.053277  0.054799
Feb-2022  0.133899  0.137673  0.139427  0.141267  0.143848  0.148207  0.152566
Mar-2022  0.262147  0.269857  0.273598  0.277497  0.282845  0.291683  0.300522
Apr-2022  0.235506  0.242742    0.2464   0.25019  0.255277  0.263511  0.271746
May-2022  0.235998  0.243583   0.24757  0.251676  0.257079  0.265648  0.274218
Jun-2022  0.315084  0.325692  0.331478  0.337407   0.34506  0.356959  0.368858
Jul-2022  0.198953  0.205981  0.209951     0.214  0.219133  0.226959  0.234785
Aug-2022  0.241497  0.250463  0.255699  0.261016  0.267645  0.277557   0.28747
Sep-2022  0.263864  0.274179  0.280397  0.286687  0.294403  0.305726  0.317049
Oct-2022  0.303108  0.315609  0.323379  0.331207  0.340667  0.354293   0.36792
Nov-2022  0.224959  0.234769  0.241047   0.24735  0.254857  0.265476  0.276095
Dec-2022   0.23368  0.244481  0.251589  0.258702  0.267058   0.27867  0.290281
Jan-2023   0.16205  0.170011  0.175392  0.180761  0.186986  0.195485  0.203985
Feb-2023  0.176305   0.18554  0.191944  0.198315  0.205611  0.215402  0.225193
Mar-2023  0.195558  0.206515  0.214305  0.222034  0.230779  0.242318  0.253857
Apr-2023  0.121861  0.129194  0.134533  0.139816  0.145727  0.153397  0.161067
May-2023  0.242832  0.258594  0.270335  0.281927  0.294755  0.311131  0.327506
Jun-2023  0.170272  0.182253   0.19138  0.200369  0.210213  0.222578  0.234944
Jul-2023  0.147816   0.15916  0.167986  0.176662  0.186068  0.197697  0.209327
Aug-2023  0.154739  0.167779  0.178138  0.188298   0.19921   0.21249  0.225771
Sep-2023  0.131067  0.143296  0.153207  0.162909  0.173233  0.185607  0.197981
Oct-2023  0.007376  0.008146  0.008782  0.009403  0.010059  0.010833  0.011606
Nov-2023  0.116326   0.13007  0.141642  0.152929  0.164733   0.17846  0.192188
Dec-2023  0.062363  0.070838  0.078104   0.08518  0.092519   0.10093  0.109341
Jan-2024  0.059043  0.068464  0.076685  0.084678  0.092903  0.102193  0.111483
Feb-2024  0.091569  0.109214  0.124877  0.140081  0.155608  0.172898  0.190188
Mar-2024  0.075479  0.093775  0.110287  0.126292  0.142518  0.160332  0.178147
Apr-2024  0.058452  0.077461  0.094897  0.111773  0.128761  0.147156   0.16555
May-2024  0.032974   0.04916   0.06424  0.078817  0.093391  0.108956  0.124521
Jun-2024  0.015585  0.030981  0.045545  0.059605  0.073568  0.088282  0.102996
Jul-2024       NaN  0.017287  0.033885  0.049889  0.065682  0.082102  0.098522
Aug-2024       NaN       NaN  0.014325  0.028121   0.04165  0.055533  0.069417
Sep-2024       NaN       NaN       NaN  0.016001  0.031599  0.047399  0.063198
Oct-2024       NaN       NaN       NaN       NaN  0.019715  0.039431  0.059146
Nov-2024       NaN       NaN       NaN       NaN       NaN       0.0       0.0
Dec-2024       NaN       NaN       NaN       NaN       NaN       NaN       0.0

[48 rows x 48 columns]